/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Vollkorn&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Vollkorn', serif; */
/* color theme: primary : "A32410",
orange-ish : "#ED8607",
greenish : "#93A711",
lighyellow : "#f0ed3f",

*/
/* reset */
*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root{
  --bg-color:#1d1b1b;
  --glasseffect:#e9dede20;
  --violeted:#220e30;
  --greyish:#63635b;
}
a{
  text-decoration: none;
  color:#f0ed3f;
}
body{
  min-height:100vh;
  overflow-x: hidden;
}

/* header */
.header-container{
  width:100vw;
}
